<h1>
    this is profile page
</h1>

<% if(locals.user.id == profile.id) { %>
   <form action="/updateUser/<%= profile.id %> " method="post">
        <input type="text" name="name" value="<%= profile.name %>">
        <input type="email" name="email" value="<%= profile.email %>">
        <input type="submit" value="Update">
    </form>
    <% } else{ %> 

<h1><%= profile.name %>  </h1>
<h1><%= profile.email %></h1>
 <% } %> 